.container {
    width: 680px;
    background-color: rgb(117, 167, 162);
    margin: 200px auto;
    border-radius: 20px;

}

section {
    padding: 5rem;
}

.btn {
    background-color: cornflowerblue;
    margin: 5px;
    border: none;
}

.btn:hover {
    background-color: rgb(49, 46, 46);
    cursor: pointer;
    color: white;
}

h2 {
    padding-bottom: 20px;
    font-size: 4rem;
}

h1 {
    padding-bottom: 20px;
    font-size: 5rem;
}